/* Write your CSS code here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 17px;
  color: #551e53;
}
.not-found-img {
  height: 25vh;
  width: 25vh;
}
