/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-home {
  font-family: 'Roboto';
  font-size: 25px;
  color: #551e53;
}
.img-home {
  height: 25vh;
  width: 25vh;
}
